<template>
  <div>  
    <v-row>

    </v-row>  
    <v-row>
      <ContentsPage />
    </v-row>
  </div>
</template>

<script>
import ContentsPage from "../../../components/main.components/content.vue";

export default {
  name: "MainPage",
  components: {
    ContentsPage,
  },
};
</script>

<style>
</style>
