<template>
  <v-container fluid>
    <v-breadcrumbs :items="items" large></v-breadcrumbs>
    <v-container>
      <!-- <v-row class="mb-1">
        <v-col cols="8">
          <div class="headline">Create content</div>
        </v-col>
      </v-row> -->

      <v-row>
        <ContentPreview />
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import ContentPreview from "../../../components/main.components/content-preview.vue";

export default {
  name: "MainPreview",
  components: {
    ContentPreview,
  },
  data: () => ({
    items: [
      {
        text: "Main content",
        disabled: false,
        href: "/",
      },
      {
        text: "Preview",
        disabled: true,
        href: "/content-preview",
      },
    ],
  }),
};
</script>

<style></style>
