<template>
  <v-container fluid>
    <v-breadcrumbs :items="items" large></v-breadcrumbs>
    <v-container>
      <!-- <v-row class="mb-1">
        <v-col cols="8">
          <div class="headline">Create content</div>
        </v-col>
      </v-row> -->

      <v-row>
        <ContentEdit />
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import ContentEdit from "../../../components/main.components/content-edit.vue";

export default {
  name: "MainEdit",
  components: {
    ContentEdit,
  },
  data: () => ({
    items: [
      {
        text: "Main content",
        disabled: false,
        href: "/",
      },
      {
        text: "Edit",
        disabled: true,
        href: "/content-edit",
      },
    ],
  }),
};
</script>

<style></style>
