<template>
  <v-container fluid>
    <v-breadcrumbs :items="items" large></v-breadcrumbs>
    <v-container>
      <!-- <v-row class="mb-1">
        <v-col cols="8">
          <div class="headline">Create content</div>
        </v-col>
      </v-row> -->

      <v-row>
        <ContentAdd />
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import ContentAdd from "../../../components/main.components/content-add.vue";

export default {
  name: "MainAdd",
  components: {
    ContentAdd,
  },
  data: () => ({
    items: [
      {
        text: "Main content",
        disabled: false,
        href: "/",
      },
      {
        text: "Add",
        disabled: true,
        href: "/content-add",
      },
    ],
  }),
};
</script>

<style></style>
