<template>
  <v-container class="fill">
    <v-row>
      <v-col> </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <div class="headline">Topic</div>
        <v-text-field :rules="topic" v-model="objBlog.title" hide-details="auto"></v-text-field>
      </v-col>
    </v-row>
    <div class="mt-6"></div>
    <v-row>
      <v-col cols="12">
        <div class="headline">Cover picture</div>
        <v-col justify="center" align="center">
          <v-img
            src="../../assets/img/img_preview.png"
            v-if="!objBlog.image"
            max-height="350"
            max-width="450"
          ></v-img>
          <v-img :src="objBlog.image" v-if="objBlog.image" max-height="350" max-width="450"></v-img>
        </v-col>      
      </v-col>
    </v-row>
    <div></div>
    <v-row class="mt-6">
      <v-col cols="12">
        <div class="headline">Contents</div>
        <v-col justify="center" align="center">
          <Editor :disabled="isDisabled" />
        </v-col>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" justify="center">

        <v-btn class="mx-4" @click="$router.back()">Back</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Editor from "../editor.component/editor.component.vue";
export default {
  data: () => ({
    loading: false,
    isDisabled: true,
    selection: 0,
    objBlog: { title: null, image: null, description: null },
    url: null,
    image: null,
    isSelecting: false,
    selectedFile: null,
    topic: [
      (value) => !!value || "Required.",
      (value) => (value && value.length >= 3) || "Min 3 characters",
    ],
    img: [
      (value) =>
        !value ||
        value.size < 2000000 ||
        "Avatar size should be less than 2 MB!",
    ],
  }),
  components: {
    Editor,
  },
  async created() {
    this.objBlog = await this.$route.params.data
    if (!this.objBlog.id) {
      this.$router.push({ path: "/" });
    }
    console.log(this.objBlog, 'blog pre')
  },
  methods: {
    handleFileImport() {
      this.isSelecting = true;

      // After obtaining the focus when closing the FilePicker, return the button state to normal
      window.addEventListener(
        "focus",
        () => {
          this.isSelecting = false;
        },
        { once: true }
      );

      // Trigger click on the FileInput
      this.$refs.uploader.click();
    },
    onFileChanged(e) {
      this.selectedFile = e.target.files[0];
      this.url = URL.createObjectURL(this.selectedFile);
      // Do whatever you need with the file, liek reading it with FileReader
    },
    onUpdate({ getJSON, getHTML }) {
      this.json = getJSON();
      this.html = getHTML();
    },
  },
};
</script>
