<template>
  <v-container class="fill">
    <v-row>
      <v-col> </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <div class="headline">Topic</div>
        <v-text-field :rules="topic" v-model="objBlog.title" hide-details="auto"></v-text-field>
      </v-col>
    </v-row>
    <div class="mt-6"></div>
    <v-row>
      <v-col cols="12">
        <div class="headline">Cover picture</div>
        <v-col justify="center" align="center">
          <v-img
            src="../../assets/img/img_preview_dark.png"
            v-if="!objBlog.image"
            max-height="250"
            max-width="350"
          ></v-img>
          <v-img :src="objBlog.image" v-if="objBlog.image" max-height="350" max-width="450"></v-img>
        </v-col>
        <v-col cols="12" justify="center" align="center">
          <v-btn depressed :loading="isSelecting" @click="handleFileImport">
            <v-icon>mdi-camera</v-icon>
            Upload File
          </v-btn>
          <input
            ref="uploader"
            class="d-none"
            type="file"
            :rules="img"
            accept="image/png, image/jpeg, image/bmp, image/gif"
            @change="onFileChanged"
          />
        </v-col>
      </v-col>
    </v-row>
    <div></div>
    <v-row class="mt-6">
      <v-col cols="12">
        <div class="headline">Contents</div>
        <v-col justify="center" align="center">
          <Editor v-model="objBlog.description" @update="update"/>
        </v-col>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" align="center" justify="center">
        <v-btn class="mx-4" @click="save()" color="success">Save</v-btn>

        <v-btn class="mx-4" @click="$router.back()">Cancel</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Editor from "../editor.component/editor.component.vue";
import { mapState, mapActions } from "vuex";
export default {
  data: () => ({
    loading: false,
    selection: 0,
    url: null,
    image: null,
    objBlog: { title: null, image: null, description: null },
    isSelecting: false,
    isInsert: false,
    selectedFile: null,
    topic: [
      (value) => !!value || "Required.",
      (value) => (value && value.length >= 3) || "Min 3 characters",
    ],
    img: [
      (value) =>
        !value ||
        value.size < 2000000 ||
        "Avatar size should be less than 2 MB!",
    ],
  }),
  components: {
    Editor,
  },  
  computed: {
    ...mapState({
      isInsertBlog: "isInsertBlog",
    }),
  },
  methods: {
     ...mapActions({
      insertBlog: "insertBlog",
    }),

    handleFileImport() {
      this.isSelecting = true;

      // After obtaining the focus when closing the FilePicker, return the button state to normal
      window.addEventListener(
        "focus",
        () => {
          this.isSelecting = false;
        },
        { once: true }
      );

      // Trigger click on the FileInput
      this.$refs.uploader.click();
    },
    onFileChanged(e) {
      this.selectedFile = e.target.files[0];
      this.objBlog.image = URL.createObjectURL(this.selectedFile);
      console.log(this.objBlog)
      // Do whatever you need with the file, liek reading it with FileReader
    },
    onUpdate({ getJSON, getHTML }) {
      this.json = getJSON();
      this.html = getHTML();
    },
    update(value) {
     this.objBlog.description = value;
    },
    async save() {
      await this.$store.dispatch("insertBlog", this.objBlog);
      this.isInsert = this.isInsertBlog;
      if(this.isInsert){
        this.$router.back();
      }
    },
  },
};
</script>
