<template>
  <v-container class="fill">
    <v-row>
      <v-col> </v-col>
    </v-row>
    <v-row>
      <v-col cols="11" lg="12" xs="12" sm="12" md="6">
        <div class="d-flex justify-end">
          <v-btn depressed @click="goTo('MainAdd', '')">
            <v-icon class="mr-1"> mdi-plus </v-icon>
            <span color="white">contents</span>
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-row align="center" v-if="dataList != null">
      <v-col
        cols="12"
        lg="3"
        xs="12"
        sm="12"
        md="6"
        v-for="data in dataList"
        :key="data.id"
      >
        <v-card class="mx-auto my-2" max-width="324">
          <v-img height="150" aspect-ratio="1" :src="data.image"></v-img>
          <v-card-title class="overflow">{{ data.title }}</v-card-title>
          <v-card-subtitle class="overflow">
            {{ data.description }}
          </v-card-subtitle>
          <v-card-actions>
            <v-btn color="deep-purple lighten-2" text @click="goTo('MainPreview', data)">
              Detail
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
              class="mx-2"
              small
              rounded
              outlined
              color="yellow darken-4"
              @click="goTo('MainEdit', data)"
            >
              <v-icon small dark> mdi-pencil </v-icon>
            </v-btn>
            <v-btn
              class="mx-2"
              small
              rounded
              outlined
              color="red darken-4"
              @click="deleteItem(data.id)"
            >
              <v-icon small dark> mdi-delete </v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>       
      </v-col>
    </v-row>
     <h5 class="py-12 d-flex justify-center" v-else>
        Please add a new content at top right button 
      </h5>
     <v-dialog
          v-model="dialogDelete"
          max-width="500px"
        >
          <v-card>
            <v-card-title class="headbody-1"> Confirm </v-card-title>

            <v-card-text> Do you want delete this contents? </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn color="error" text @click="dialogDelete = false">
                Cancle
              </v-btn>

              <v-btn color="green darken-1" text @click="deleteContent()">
                Delete
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>   
        <v-dialog
          v-model="dialogDeleteSuccess"
          max-width="500px"
        >
          <v-card>           
            <v-card-title> Delete success </v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" text @click="closeDeleteSuccess()">
                OK
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>  
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "Contents",
  data: () => ({
    editedIndex: -1,
    loading: false,
    isDelete: false,
    dialogDelete: false,
    dialogDeleteSuccess: false,
    selection: 0,
    blogId: null,
    pages: 1,
    dataList: [],
  }),  
  computed: {
    ...mapState({
      listBlogs: "listBlogs",
      isDeleteBlog: "isDeleteBlog",
    }),
  },
  async created() {
    this.getData()
  },
  methods: {
     ...mapActions({
      getBlogs: "getBlogs",
      deleteBlog: "deleteBlog",
    }),

    goTo(link, data) {
      this.$router.push({ name: link, params: { id: data.id, data: data } });
    },

    async getData(){
      await this.$store.dispatch("getBlogs");
      this.dataList = this.listBlogs;
    },

    deleteItem(data) {      
      this.dialogDelete = true;
      this.blogId = data    
    },

    closeDelete() {
      this.dialogDelete = false;   
       this.blogId = null;  
    },

    deleteSuccess() {      
      this.dialogDeleteSuccess = true;
    },

    closeDeleteSuccess() {
      this.dialogDeleteSuccess = false;     
    },

    async deleteContent() {
      await this.$store.dispatch("deleteBlog", this.blogId);
      this.isDelete = this.isDeleteBlog;
      if(this.isDelete){
        this.closeDelete();
        this.deleteSuccess();
        this.getData();
      }
    },
  },
};
</script>

<style>
.overflow {
  width: 96%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
</style>
