<template>
  <div>
    <!-- Use the component in the right place of the template -->
    <tiptap-vuetify
      :value='modelValue'
      @update="onUpdate"
      :extensions="extensions"
      :toolbar-attributes="{ color: '', dark: colorTools() }"
      :disabled="editorDisabled"
    />
  </div>
</template>

<script>
// import the component and the necessary extensions
import {
  TiptapVuetify,
  Heading,
  Bold,
  Italic,
  Strike,
  Underline,
  Code,
  Paragraph,
  BulletList,
  OrderedList,
  ListItem,
  Link,
  Blockquote,
  HardBreak,
  HorizontalRule,
  History,
  Image,
} from "tiptap-vuetify";

export default {
  // specify TiptapVuetify component in "components"
  components: { TiptapVuetify },
  props: ["disabled", "value"],
  data() {
    return {
      // declare extensions you want to use
      editorDisabled: this.disabled,
      modelValue: this.value,
      valueChangedFromEditor: false,
      extensions: [
        History,
        Blockquote,
        Link,
        Underline,
        Strike,
        Italic,
        ListItem,
        BulletList,
        OrderedList,
        Image,
        [
          Heading,
          {
            options: {
              levels: [1, 2, 3],
            },
          },
        ],
        Bold,
        Code,
        HorizontalRule,
        Paragraph,
        HardBreak,
      ],
      // starting editor's content
      content: `
      <h1>Yay Headlines!</h1>
      <p>All these <strong>cool tags</strong> are working now.</p>
    `,
    };
  },
  created() {
    console.log(this.modelValue, 'modelValue')
  },
  methods: {
    onUpdate({ getJSON, getHTML }) {
      this.valueChangedFromEditor = true;
      this.json = getJSON();
      this.html = getHTML();
      this.$emit('update', this.html)
    },
    colorTools() {
      //console.log(this.$vuetify.theme.dark ? true : false)
      return this.$vuetify.theme.dark ? true : false;
    },
  },
   watch: {
    value: {
      handler(newVal, oldVal) {
        // Only update if the value changed from parent component.
        if (!this.valueChangedFromEditor) {
          this.content = newVal;
          console.log(`value changed: ${this.content}`);
        }
        this.valueChangedFromEditor = false;
      },
      immediate: true
    }
  },
};
</script>
