<template>
  <v-app>  
    <AppBar/>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>

import AppBar from './views/layouts/app-bar'

export default {
  name: "App",
  components: {
    AppBar
  },
  data: () => ({
    //
  }),
};
</script>
