<template>
  <div>
    <v-app-bar :color="ColorAppBar()" app elevate-on-scroll>
      <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon> -->
      <!-- <v-icon class="mx-1">mdi-lock</v-icon> -->
      <v-btn class="mx-2" icon>
        <img
          src="../../assets/img/icon_blogger.png"
          aspect-ratio="1"
          width="35"
          height="35"
        />
      </v-btn>

      <v-toolbar-title fixed app>
        <span class="title">Contents</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-text-field
        v-model="search"
        v-if="isMain"
        prepend-inner-icon="mdi-magnify"
        label="Search"
        filled
        dense
        rounded
        single-line
        hide-details
        class="shrink"
      ></v-text-field>

      <v-spacer></v-spacer>

      <v-btn small icon>
        <v-avatar color="primary" size="26"
          ><span class="white--text text-caption">M</span></v-avatar
        >
      </v-btn>

      <v-menu bottom min-width="200px" nudge-bottom="8" offset-y>
        <template v-slot:activator="{ on }">
          <v-btn class="mx-2" small icon @click="show = !show" v-on="on">
            <v-icon small>{{
              show ? "mdi-chevron-up" : "mdi-chevron-down"
            }}</v-icon>
          </v-btn>
        </template>

        <v-card rounded="lg">
          <v-list-item-content class="justify-center">
            <div class="mx-auto text-left">
              <p class="mx-4 text-body-2 mt-1">Manager Contens</p>
              <v-divider class="my-3"></v-divider>
              <div class="mx-4">
                <v-switch
                  @click="show = !show"
                  v-model="$vuetify.theme.dark"
                  inset
                  label="Dark theme"
                  append-icon="mdi-weather-night"
                ></v-switch>
              </div>
            </div>
          </v-list-item-content>
        </v-card>
      </v-menu>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: null,
      menu: true,
      show: false,
    };
  },
  async created() {},
  computed: {
    isMain() {
      return this.$route.name === 'MainPage'
    }
  },
  methods: {
    ColorAppBar() {
      return this.$vuetify.theme.dark ? "dark" : "white";
    },
  },
};
</script>
